<h2>トップページ</h2>
<h2>施設一覧</h2>

<% @rooms.each do |room| %>
  <div>
    <%= room.name %><br>
    <%= room.address %><br>
    <%= room.explanation %><br>
    <%= room.price %><br>
    <br>
  </div>
<% end %>