html {
  height: 100%;
}

body {
  min-height: 1200px;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 30px;
}

.form-wrapper{
  max-width: 720px;
  margin: 0 auto;
  padding: 30px;
}

// header--------------------------
.navbar {
  height: 80px;
}

.container-fluid {
  max-width: 1440px;
}

.usericon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 8px;
}

.link img {
  width: 200px;
}

.dropdown-menu a {
  text-decoration: none;
  color: inherit;
}

.header-not-signin {
  display: flex;
  margin: 0;
  align-items: center;
}

.btn-signin, .btn-signin:hover {
  text-decoration: none;
  color: white;
  margin-right: 20px;
}

.btn-signup, .btn-signup:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  background: #ff7757;
  border-radius: 5px;
  border: none;
  height: 40px;
  width: 90px;
}

// footer--------------------------
footer {
  background-color:	#212529;
  height: 300px;
  position: sticky;
  top: 100vh;
  width: 100%;
  padding: 50px 20px;
}

footer div {
  max-width: 1440px;
  margin: 0 auto;
  color: white;
}

// エラー時のdiv挿入をしない
.field_with_errors {
  display: contents;
}

.error-message {
  color: #ff4949;
  font-size: 12px;
  margin-top: 5px;
}

// フラッシュメッセージ
.notice {
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  width: fit-content;
  height: 40px;
  background: black;
  color: white;
  padding: 0 10px;
  box-shadow: 0 2px 8px 0px rgba(0,0,0,0.5);
  position: fixed;
  bottom: 20px;
  left: 0px;
  right: 0px;
  margin: auto;
  z-index: 100;
}

.alert {
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  width: fit-content;
  height: 40px;
  background: #ff4949;
  color: white;
  padding: 0 10px;
  box-shadow: 0 2px 8px 0px rgba(0,0,0,0.5);
  position: fixed;
  bottom: 20px;
  left: 0px;
  right: 0px;
  margin: auto;
  z-index: 100;
}
